@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */

.topHeader {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 4%;  
    text-shadow: 5px 5px black;
}
#current {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 5px 5px black;
}
#theTime {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 5px black;
}
.searchbar {
    margin-top: 20px;
}
.srchBtn {
    background: white;
    margin-top: 10px;
    border-radius: 20px;
    float: left;
}
.srchBtn:hover {
    background: black;
    color: white;
}
.searchHistory {
    background-color: grey;
    width: 19%;
    height: 250px;
    float: left;
    clear:both;
    margin-top: 20px;
}
.sizeButton {
    width: 100%;
}
.holder {
    background-color: black;
    width: 80%;
    height: 250px;
    margin-top: 20px;
    float: right;
}
.weatherBox {
    background: blue;
    width: 20%;
    height: 100%;
}
.changeMeDate {
    color: white;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.changeMe1 {
    color: white;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.imgChange {
    height: 50px;
    width: 50px;
}
#appendHere {
    float:left;
}
#appendHere1 {
    float:left;
}
#appendHere2 {
    float:left;
}
#appendHere3 {
    float:left;
}
#appendHere4 {
    float:left;
}