@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */

.topHeader {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 4%;  
    text-shadow: 4px 2px black;
}
#current {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 4px 2px black;
}
#theTime {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px black;
}
.searchbar {
    margin-top: 20px;
}
.srchBtn {
    background: white;
    margin-top: 10px;
    border-radius: 20px;
    float: left;
}
.srchBtn:hover {
    background: black;
    color: white;
}
.searchHistory {
    /* background: rgba(63, 48, 7, 0.507); */
    width: 19%;
    height: 250px;
    float: left;
    clear:both;
    margin-top: 20px;
}
#history {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;

}
.sizeButton {
    width: 100%;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5px;
}
.sizeButton:hover {
    background: black;
    color: white;
}
#currentDisplay {
    background: rgba(63, 48, 7, 0.507);
    width: 80%;
    height: 200px;
    margin-top: 20px;
    float: right;
}
.currentDate {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 4px 2px black;
    font-family: 'Josefin Sans', sans-serif;
}
.currentImg {
    height: 130px;
    width: 130px;
    float: left;
    margin-right: 20px;
}
.currentTemp {
    text-align: left;
    color: white;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
.currentHumid {
    text-align: left;
    color: white;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
.currentWind {
    text-align: left;
    color: white;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
.currentUv {
    text-align: left;
    color: white;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
.holder {
    /* background-color: black; */
    width: 80%;
    height: 250px;
    margin-top: 20px;
    float: right;
}
.weatherBox {
    background: rgba(63, 48, 7, 0.507);
    width: 18%;
    height: 100%;
    margin-left: 5px;
}
.changeMeDate {
    color: white;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
}
.changeMe1 {
    color: white;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    
}
.imgChange {
    height: 50px;
    width: 50px;
}
#appendHere {
    float:left;
}
#appendHere1 {
    float:left;
}
#appendHere2 {
    float:left;
}
#appendHere3 {
    float:left;
}
#appendHere4 {
    float:left;
}